Magic 271485
Revision Verdi3_L-2016.06-1

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 28 1918 329 100 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / -i 0 "" "/home/xiaotu/project/async_FIFO/sim_uvm/top_tb.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 8332500.000000
cursor 2550000.000000
marker 0.000000

; visible top row signal index
top 0
; marker line index
markerPos 10

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home/xiaotu/project/async_FIFO/sim_uvm/top_tb.fsdb"
addSignal -h 15 -UNSIGNED -HEX /top_tb/async_fifo/rdata[7:0]
addSignal -h 15 -holdScope wfull
addSignal -h 15 -holdScope rempty
addSignal -h 15 -UNSIGNED -HEX -holdScope wdata[7:0]
addSignal -h 15 -holdScope winc
addSignal -h 15 -holdScope wclk
addSignal -h 15 -holdScope wrst_n
addSignal -h 15 -holdScope rinc
addSignal -h 15 -holdScope rclk
addSignal -h 15 -holdScope rrst_n
addGroup "G2"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

